default_language_version:
    python: python3.13

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-added-large-files
    -   id: check-toml
    -   id: check-yaml
        args: [--unsafe]
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.1
    hooks:
      # Roda o Linter (checa erros, organiza imports, remove código morto)
    -   id: ruff
        args: [ --fix ]
      # Roda o Formatter (substitui o Black com a mesma estética)
    -   id: ruff-format